.jokes blockquote {
  border: 6px solid var(--banana-leaf-dark);
  border-radius: 6px;
  background-color: var(--banana-leaf-light);
  font-size: 24px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.jokes button {
  font-size: 24px;
  margin: 0 auto;
  background-color: var(--banana-leaf-dark);
  border: 2px solid var(--banana-leaf-light);
  color: var(--font-color-dark);
}

.jokes {
  width: 50rem;
  margin: 0 auto;
}
