.quotes blockquote {
  border-left: 6px solid var(--banana-leaf-dark);
  background-color: var(--banana-leaf-light);
  font-size: 24px;
}

.quotes figcaption {
  text-align: right;
  font-size: 36px;
}
