.jump blockquote {
    border: 6px solid var(--banana-leaf-dark);
    border-radius: 6px;
    background-color: var(--banana-leaf-light);
    font-size: 37px;
    color: green;
    width: fit-content;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 7px;
  }
.jump #instructions {
    border: 6px solid var(--banana-leaf-dark);
    border-radius: 6px;
    background-color: var(--banana-leaf-light);
    font-size: 18px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 7px;
}
.jump #scoreSpan {
    text-align: center;
}
.jump #start {
    border: 6px solid var(--banana-leaf-dark);
    border-radius: 6px;
    background-color: var(--banana-leaf-light);
    font-size: 18px;
    width: fit-content;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 7px;
}
.jump .game {
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    width: 500px;
    min-height: 300px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: white;
    text-align: center;
}
.jump #character {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: none;
    width: 60px;
    height: auto;
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 0.3s linear;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
.jump #block{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    display: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: 130px;
    left: 500px;
}
.animateblock {
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 500px}
    100%{left: -200px}
}
