.tictacbanana div.row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0 auto;
}

.tictacbanana .row .space {
  display: flex;
  min-width: 100px;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-color: var(--background-header-banana);
  border-radius: 6px;
  margin: 7px;
}

.tbbdisplay {
  border: 5px solid red;
}

.tictacbanana #board {
  padding: 2rem;
  background-color: var(--banana-leaf-dark);
  border: 5px solid #f1da02;
  border-radius: 6px;
  margin: 2rem auto;
}

.tictacbanana #p1, #p2 {
  padding: 0px;
}

.tictacbanana #bottom-display {
  text-align: center;
  font-size: 4rem;
  height: 4.5rem;
}

.tictacbanana #reset {
  margin-top: 2rem;
  align-self: center;
  width: 25%;
  text-transform: uppercase;
}

.tictacbanana button {
  font-size: 24px;
  background-color: var(--banana-leaf-dark);
  border: 2px solid var(--banana-leaf-light);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}
