body {
  background-color: #f4f5cd;
}

body > header {
  text-align: center;
  background-color: #a3c88d;
  /* border-bottom: 3px solid black; */
}

header > h1 {
  font-size: 5rem;
  margin: .5rem 0 .5rem 0;
}

iframe {
  width: 100%;
  height: 100%;
  padding: 0rem 1rem;
}

.active {
  background-color: #a79c37;
  border-radius: 6px;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.navigation {
  padding-top: 32px;
  float: left;
  background-color: #e9e08b;
  width: 20%;
  height: 100%;
}

.navigation a {
  padding: 8px 8px 8px 32px;
  display: block;
  font-size: 25px;
  text-decoration: none;
}

.navigation a:hover {
  background-color: #f79c37;
  color: red;
}

.main {
  /* float: right; */
  overflow: hidden;
  height: 100%;
}
