:root {
  --banana-leaf-dark: #439203;
  --banana-leaf-light: #DAF826;
  --banana-leaf-med: #86bc02;

  --banana-peel-too-ripe: #9c923d;

  --background-banana: #f4f5cd;
  --background-header-banana: #a3c88d;
  --background-nav-banana: #e9e08b;

  --font-color-dark: #423e18;
}

body {
  background-color: var(--background-banana);
}

body > header {
  text-align: center;
  background-color: var(--background-header-banana);
  border-bottom: 3px solid var(--banana-leaf-dark);
}

body > footer {
  background-color: var(--background-header-banana);
  border-top: 3px solid var(--banana-leaf-dark);
}

header {
  height: 10rem;
  line-height: 10rem;
}

header > a, footer > div > a {
  text-decoration: none;
}

header > a > h1 {
  font-size: 4rem;
  margin: auto;
}

hr {
  width: 50%;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
}

body > footer div {
  display: block;
}

h4 {
  margin-bottom: 3rem;
}

button {
  font-size: 24px;
  background-color: var(--banana-leaf-dark);
  border: 2px solid var(--banana-leaf-light);
  /* white-space: nowrap; */
  margin: 2rem auto;
  display: inline-block;
}

.center {
  text-align: center;
}

.active {
  background-color: var(--banana-peel-too-ripe);
  border-radius: 6px;
}

.main {
  height: 100%;
  flex-basis: 0;
  flex-grow: 999;
  /* min-inline-size: 60%; */
}

.about, .bph, .conversion, .facts, .home, .jokes, .quotes {
  margin: 0 auto;
  max-width: 50rem;
  padding: 1rem;
}

.back {
  margin: 0 auto;
}

.scroll {
  width: 100%;
  overflow: hidden;
}

.scroll p {
  position: fixed;
  bottom: 0px;
  white-space: nowrap;
  text-align: center;
  font-size: 24px;
  padding: 15px;
  min-width: 1000px;
  width: 100%;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: textScroll 15s linear infinite;
  animation: textScroll 15s linear infinite;
}

@media only screen and (min-width: 768px) {
  .scroll p {
    padding: 25px;
    -webkit-animation: textScroll 15s linear infinite;
    animation: textScroll 15s linear infinite;
  }
}

@-webkit-keyframes textScroll {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes textScroll {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%); }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }
