:root {
  --banana-leaf-dark: #439203;
  --banana-leaf-light: #DAF826;
  --banana-leaf-med: #86bc02;

  --banana-peel-too-ripe: #9c923d;

  --background-banana: #f4f5cd;
  --background-header-banana: #a3c88d;
  --background-nav-banana: #e9e08b;
  --font-color-dark: #423e18;
}

body {
  background-color: var(--background-banana);
}

body > header {
  text-align: center;
  background-color: var(--background-header-banana);
  border-bottom: 3px solid var(--banana-leaf-dark);
}

header > h1 {
  font-size: 4rem;
  margin: .5rem 0 .5rem 0;
}

iframe {
  height: 99%;
  width: 100%;
  border: none;
  padding: 0rem 1rem;
}

.active {
  background-color: var(--banana-peel-too-ripe);
  border-radius: 6px;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navigation {
  flex-basis: 15%;
  flex-grow: 1;
  padding-top: 32px;
  background-color: var(--background-nav-banana);
  border-right: 3px solid var(--banana-peel-too-ripe);
}

.navigation a {
  padding: 8px 8px 8px 32px;
  display: block;
  font-size: 25px;
  text-decoration: none;
}

.navigation a:hover {
  /* TODO change these to something not horrific */
  background-color: #f79c37;
  color: red;
}

.main {
  height: 100%;
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 80%;
}
