.bph h2 {
  text-align: center;
}
.bph #output-text {
  display: none;
  font-size: 24px;
  text-align: center;
}
.bph #speed {
  width: 40px;
}
.bph #how-fast {
  padding-top: 20px;
  background-color: var(--banana-leaf-light);
}
.bph #bph-submit {
  font-size: 18px;
  height: 50px;
  width: 130px;
}
.bph #go-button {
  text-align: center;
}