.facts blockquote {
  border: 6px solid var(--banana-leaf-dark);
  border-radius: 6px;
  background-color: var(--banana-leaf-light);
  font-size: 24px;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.facts button {
  font-size: 24px;
  margin: 0 auto;
  background-color: var(--banana-leaf-dark);
  border: 2px solid var(--banana-leaf-light);
}
